/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

* {
    box-sizing: border-box;
}

:root {
    /*kolorystyka*/
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;

    /*fonty*/
    --font-raleway: 'Raleway', sans-serif;
    --font-open: Raleway', sans-serif;

}

.container {
    width: 1300px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}

.row {
    display: flex;
}

.row .col {
    flex-grow: 1;
    margin: 0 10px;

}

/*header z logo i menu*/

.page-header {
    width: 100%;
    height: 70px;
    background: var(--color-white);
    box-shadow: 0 3px 6px #00000029;
    position: absolute;
    z-index: 1;

}

.page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.page-logo {
    color: var(--color-primary);
    font-family: var(--font-raleway);
    font-weight: 300;
    font-size: 32px;
    text-decoration: none;

}

.main-menu {
    height: 100%;

}

.main-menu__list {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;

}

.main-menu__el {
    height: 100%;
    padding: 0 25px;



}

.main-menu__link {
    height: 100%;

    font-family: var(--font-open);
    font-weight: bold;
    font-size: 11px;

    text-decoration: none;
    text-align: center;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    color: var(--color-grey);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    position: relative;

}

.main-menu__link:hover {
    color: var(--color-black);
/*    border-bottom: 4px solid var(--color-primary);*/
}

.main-menu__link::after {
    content:"";
    border-bottom: 4px solid var(--color-primary);
    width: 100%;

    position: absolute;
    left: 0;
    bottom: 0;

    opacity: 0;
}

.main-menu__link:hover::after {
    opacity: 1;
}

/*sekcja otwierająca*/

.hero {
    height: calc(100% - 70px);
    background-color: var(--color-white);

}

.hero img {
    width: 100%;
    height: 100%;
}

.hero .container {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.hero-title {
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 49px;

    text-transform: capitalize;

    margin-bottom: 20px;

    color: var(--color-black);
}

.hero-text {
    font-family: var(--font-open);
    font-weight: 400;
    font-size: 16px;

    margin-bottom: 38px;

    color: var(--color-black);
}

.hero-btn {
    display: inline-flex;
    justify-content: center;
    width: 440px;
    padding: 22px;

    background-color: var(--color-primary);

    border-radius: 40px;
    box-shadow: 5px 10px 14px 0 var(--color-primary-shadow);

    font-family: var(--font-open);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-white);

}


/*sekcja statystyk - > nie wyszło*/

.statistics {
    height: 100%;
}

.statistics .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.statistics-title {
    padding-top: 100px;

    font-family: var(--font-raleway);
    font-size: 36px;
    font-weight: 400;

    color: var(--color-black);
}

.row-statistics {
    display: flex;
    justify-content: space-between;

}

.col-statistics {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;

}

.col-statistics__img {
    position: relative;
    height: 100%;

}

.col-statistics__icon {
    height: 100%;
    width: 100%;


}

.col-statistics__img-1::before {
    content: "";
    width: 63px;
    height: 63px;
    background-color: var(--color-redish);
    border-radius: 50%;

    position: absolute;
    z-index: -1;
    right: 30%;
    top: 0;

}

.col-statistics__img-2::before {
    content: "";
    width: 63px;
    height: 63px;
    background-color: var(--color-primary);
    border-radius: 50%;

    position: absolute;
    z-index: -1;
    right: 30%;
    top: 0;

}

.col-statistics__img-3::before {
    content: "";
    width: 63px;
    height: 63px;
    background-color: var(--color-green);
    border-radius: 50%;

    position: absolute;
    z-index: -1;
    right: 30%;
    top: 0;

}

.col-statistics__title {

    font-family: var(--font-raleway);
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 5.96px;
    color: var(--color-black);

}

.col-statistics__text {

    font-family: var(--font-raleway);
    font-size: 17px;
    font-weight: 300;

    color: var(--color-grey);
}
